$dark-navy: rgb(11,13,23);
$light-blue: #D0D6F9;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    min-width: 100vw; 
}

.text {
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    letter-spacing: 0px;
    font-weight: 100;
    font-style: normal;
    color: white;
    line-height: 180%;
}

.heading-xl {
    font-family: "Bellefair", serif;
    font-size: 144px;
    text-transform: uppercase;
    letter-spacing: 0px;
}

.heading-l {
    font-family: "Bellefair", serif;
    font-size: 96px;
    text-transform: uppercase;
    letter-spacing: 0px;
}

.heading-xs {
    font-family: "Barlow Condensed", sans-serif; 
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 100;
}

.subheading-l {
    font-family: "Bellefair", serif;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 0px;
}

.heading-m {
    font-family: "Bellefair", serif;
    font-size: 56px;
    text-transform: uppercase;
    letter-spacing: 0px;
}

.heading-s {
    font-family: "Bellefair", serif;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 0px;
}

.subheading-s {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    color: $light-blue;
}

.nav-text {
    font-family: "Barlow Condensed", sans-serif; 
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    line-height:normal;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

main {
    z-index: 5;
}

#home {
    background-image: url('../assets/home/background-home-desktop.jpg');
}

#destination {
    background-image: url('../assets/destination/background-destination-desktop.jpg');
}

#crew {
    background-image: url('../assets/crew/background-crew-desktop.jpg');
}

#technology {
    background-image: url('../assets/technology/background-technology-desktop.jpg');
}

header {
    width: 100%;
    height: 136px;
    display: flex;
    align-items: flex-end;
    z-index: 1;

    .header-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .mobile-nav-container {
            display: none;
        }
    }

    .header-line {
        flex-grow: 1;
        height: 1px;
        margin-right: -32px;
        background-color: #979797;
        opacity: 25%;
        z-index: 1;
    }

    img {
        padding: 0 64px;
        z-index: 1;

    }

    nav {
        width: 736px;
        height: 96px;
        backdrop-filter: blur(80px);
        font-family: "Barlow Condensed", sans-serif;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 2.7px;

        ul {
            display: flex;
            justify-content: flex-end;
            padding-right: 64px;
            gap: 48px;
            height: 100%;
            
            a {
                
                display: contents;
            }

            li {
                display: flex;
                align-items: center;
                list-style: none;
                height: 100%;
                border-bottom : 3px solid transparent;
                color: white;
                text-decoration: none;
                box-sizing: border-box;
                transition: all 1s;

                b {
                    padding-right: 12px;
                }
            }

            li:hover {
                border-bottom : 3px solid white;
            }

            .active {
                border-bottom : 3px solid white;
            }
        }
    }
}

.home {
    display: flex;
    width: 100%;
    height: calc(100vh - 136px);
    justify-content: center;
    align-items: center;
    color: white;
    animation: fadeIn 0.3s linear;

    .hero {
        width: 1110px;
        height: 632px;
        display: flex;
        align-items: end;

        a {
            display: contents;
        }

        .hero-wrapper {
            height: 343px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        

            .text-wrapper {
                width: 540px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .call-to-action {
                width: 272px;
                height: 272px;
                background-color: white;
                border-radius: 999px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $dark-navy;
                
                
            }

            .call-to-action:hover {
                box-shadow: 0 0 0px 88px rgb(255 255 255 / 0.1);
                color: rgb($dark-navy , 0.5);
            }
        }
    }
}

.destination {
    display: flex;
    width: 100%;
    height: calc(100vh - 136px);
    justify-content: center;
    align-items: center;
    color: white;
    padding: 48px 0;
    animation: fadeIn 0.3s linear;

    .wrapper {
        width: 1110px;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 48px 0;

        b {
            font-weight: 600;
            opacity: 0.25;
        }

        .planet-container {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 133px;

            .planet-image {
                width: 539px;
                display: flex;
                justify-content: center;
                margin-right: 32px;

                img {
                    width: 480px;
                    
                }
            }

            .planet-information {
                width: 539px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 0 50px;

                ul {
                    display: flex;
                    gap: 32px;
                    height: 32px;
                    margin: 0;
                    padding: 0;
                    
                }

                li {
                    list-style: none;
                    display: flex;
                    align-items:start;
                    border-bottom: 3px solid transparent;
                    transition: all 1s;
                }

                li:hover {
                    border-bottom: 3px solid white;
                    cursor:pointer;
                }

                .active {
                    border-bottom: 3px solid white;
                }

                hr {
                    opacity: 0.25;
                }

                .planet-statistics {
                    display: flex;

                    div {
                        display: flex;
                        width: 50%;
                        flex-direction: column;
                        gap: 12px;
                    }
                }
            }
        }
    }
}

.crew {
    display: flex;
    width: 100%;
    height: calc(100vh - 136px);
    justify-content: center;
    align-items: center;
    color: white;
    padding: 48px 0;
    animation: fadeIn 0.3s linear;
    
    .wrapper {
        width: 1110px;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 48px 0;

        b {
            font-weight: 600;
            opacity: 0.25;
        }

        .crew-container-all {
            height: 734px;
            display: flex;
            justify-content: center;
            align-items: center;

            .crew-container-left {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-right: 48px;

                .crew-description {
                    width: 539px;
                    height: 237px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin: 197px 0;
                }

                .crew-nav {
                    height: 63px;
                    margin-top: 40px;

                    ul {
                        display: flex;
                        gap: 40px;
                    }

                    li {
                        list-style: none;
                        opacity: 0.17;
                    }

                    .pagination-icon {
                        display: block;
                        width: 15px;
                        height: 15px;
                        border-radius: 999px;
                        background-color: white;
                        
                    }

                    #active {
                        opacity: 1;
                    }
                }
            }

            .crew-image {
                width: 539px;
                height: 734px;              

                img {
                    mask-image: linear-gradient(to bottom, black 80%, transparent); 
                }
            }  
        }
    }
}

.technology {
    display: flex;
    width: 100%;
    height: calc(100vh - 136px);
    justify-content: center;
    align-items: center;
    color: white;
    padding: 48px 0;
    animation: fadeIn 0.3s linear;

    @keyframes fadeIn {
        from {opacity: 0}
        to {opacity: 1;}
    }
    
    .wrapper {
        width: 1275px;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 165px;
        

        b {
            font-weight: 600;
            opacity: 0.25;
        }

        .technology-container {
            display: flex;
            align-items: center;
            height: 734px;
            gap: 32px;

            .technology-container-left {
                display: flex;
                height: 304px;
                gap: 64px;
                

                .technology-nav {
                    display: flex;
                    align-items: center;
                    width: 80px;

                    ul {
                        display: flex;
                        flex-direction: column;
                        gap: 32px;

                    }

                    li {
                        list-style: none;

                        .nav-element {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: $dark-navy;
                            width: 80px;
                            height: 80px;
                            border: 1px solid rgb(255 255 255 / 0.25);
                            color: white;
                            border-radius: 999px;
                            transition: all 0.5s;
                        }

                        .nav-element:hover {
                            border: 1px solid rgb(255 255 255 / 1);
                        }

                        .nav-element-active {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: $dark-navy;
                            width: 80px;
                            height: 80px;
                            background-color: white;
                            border-radius: 999px;
                            transition: all 0.5s;
                        }
                    }
                }

                .technology-description {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 491px;
                }
            }

            .technology-image {
                display: flex;
                align-items: center;
                width: 608px;
                height: 734px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            
        }
    }
}

// **********************************
// *                                *
// *         TABLET VIEW            *
// *                                *
// **********************************

@media (max-width: 768px) {

    .heading-l {
        font-size: 80px;
    }

    .heading-m {
        font-size: 40px;
    }

    .heading-s {
        font-size: 24px;
        opacity: 0.5;
    }

    .heading-xs {
        font-size: 20px;
    }

    

    .text {
        font-size: 16px;
    }

    #home {
        background-image: url('../assets/home/background-home-tablet.jpg');
    }
    
    #destination {
        background-image: url('../assets/destination/background-destination-tablet.jpg');
    }
    
    #crew {
        background-image: url('../assets/crew/background-crew-tablet.jpg');
    }
    
    #technology {
        background-image: url('../assets/technology/background-technology-tablet.jpg');
    }
    
    header {
        height: 96px;

        img {
            flex-grow: 1;
            padding: 0 40px;
            margin: auto;
        }

        .header-line {
            display: none;
        }

        nav {
            width: 640px;
            background-color: rgb(255, 255, 255, 0.05);
    

            ul {
                padding-right: 40px;
            }
        }
    }

    .home {
        margin-top: 128px;

        .hero {
            height: 100%;

            .hero-wrapper {
                flex-direction: column;
                justify-content: space-between;
                height: 100%;

                .text-wrapper {
                    align-items: center;
                    width: 512px;
                    height: 334px;
                    text-align: center;
                }

                a {
                    display: contents;
                }

                .call-to-action {
                    height: 272px;
                }
            }
        }
    }

    .destination {
        padding: 40px 0;

        .wrapper {
            margin: 40px;

            .planet-container {
                flex-direction: column;
                margin-top: 24px;
                padding: 42px 0;


                .planet-image {
                    margin: 0px;

                    img {
                        width: 300px;
                    }
                }
                .planet-information {
                    height: 361px;
                    align-items: center;
                    margin-top: 32px;
                    padding: 0;
                    text-align: center;

                    hr {
                        width: 100%;
                    }

                    .planet-statistics {

                        width: 100%;

                    }
                }
            }
        }
    }

    .crew {
        padding: 0;
        margin: 0;
        width: 100%;
        height: calc(100vh - 96px);

        .wrapper {
            width: 100%;
            padding: 40px 40px 0 40px;
            margin: 0;

            .crew-container-all {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: center;

                .crew-container-left {
                    width: calc(100% - 176px);
                    height: 305px;
                    margin: 64px 88px 0 88px;
                    align-items: center;

                    .crew-description {
                        width: 100%;
                        margin: 0;
                    }

                    .crew-nav {

                        ul {
                            justify-content: center;
                            gap: 12px;
                        }

                        .pagination-icon {
                            width: 10px;
                            height: 10px;
                        }
                    }
                }
                .crew-image {
                    height: 100%;
                    width: 400px;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        mask-image: none;
                    }
                }
            }
        }
    }

    .technology {
        height: 100%;
        padding: 40px;
        .wrapper {
            width: 100%;
            
            margin: 0;
            .technology-container {
                flex-direction: column-reverse;
                margin-top: 88px;
                height: auto;
                .technology-container-left {
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    height: auto;
                    gap: 40px;

                    .technology-nav {
                        width: 100%;
                        justify-content: center;
                        ul {
                            flex-direction: row;
                        }

                        li {

                            .nav-element,
                            .nav-element-active {
                                width: 56px;
                                height: 56px;
                            }

                        }
                        
                    }
                    .technology-description {
                        height: 251px;
                    }
                }
                .technology-image {
                    width: auto;
                    height: 100%;
                    margin: 0 -40px;

                    img {
                        height: 356px;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

// **********************************
// *                                *
// *         MOBILE VIEW            *
// *                                *
// **********************************

@media (max-width: 375px){

    .heading-xl {
        font-size: 80px;
    }

    .heading-l {
        font-size: 56px;
    }

    .heading-m {
        font-size: 24px;
    }

    .heading-xs {
        font-size: 16px;
    }

    .heading-s {
        font-size: 18px;
    }

    .text {
        font-size: 15px;
    }

    #home {
        background-image: url('../assets/home/background-home-mobile.jpg');
    }

    #destination {
        background-image: url('../assets/destination/background-destination-mobile.jpg');
    }

    #crew {
        background-image: url('../assets/crew/background-crew-mobile.jpg');
    }

    #technology {
        background-image: url('../assets/technology/background-technology-mobile.jpg');
    }
    
    header {
        height: 88px;
        align-items: center;

        .header-wrapper {
            justify-content: space-between;
            padding: 0 24px;

            .mobile-nav-container {
                display: block;
            }

            img {
                flex-grow: 1;
                margin: auto;
                padding: 0;
            }
    
            nav {
                display: none;
            } 

            .mobile-nav {
                position: fixed;
                top: 0;
                right: 0;
                width: 254px;
                height: 100%;
                padding-left: 32px;
                backdrop-filter: blur(80px);
                font-family: "Barlow Condensed", sans-serif;
                font-size: 16px;
                font-weight: 400;
                font-style: normal;
                letter-spacing: 2.7px;
                z-index: 10;

                .mobile-nav-close {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    height: 85px;

                    img {
                        max-width: 24px;
                        display: flex;
                        margin-right: 24px;
                    }
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 32px;
                    height: 222px;
                
                    a {
                        display: contents;
                    }

                    li {
                        display: flex;
                        list-style: none;
                        border-right : 3px solid transparent;
                        color: white;
                        text-decoration: none;
                        box-sizing: border-box;
                        transition: all 1s;
        
                        b {
                            padding-right: 12px;
                        }
                    }
        
                    li:hover {
                        border-right : 3px solid white;
                    }
        
                    .active {
                        border-right : 3px solid white;
                    }
                }
            }

            #open {
                margin-right: 0;
                transition: all 0.7s;
            }

            #closed {
                margin-right: -254px;
                transition: all 0.7s;
                // opacity: 0;
            }
        }      
    }

    .home {
        width: calc(100% - 48px);
        margin: 24px;

        .hero {
            width: 327px;
            
            .hero-wrapper {
                width: 100%;

                .text-wrapper {
                    width: 100%;
                    height: 294px;
                }

                a {
                    display: contents;
                }

                .call-to-action {
                    width:  144px;
                    height: 144px;
                    margin-bottom: calc(50% - 72px);
                }
            }
        }
    }

    .destination {
        padding: 24px 0;
        text-align: center;

        .wrapper {
            width: 100%;
            margin: 24px;

            .planet-container {
                flex-direction: column;
                margin-top: 24px;
                padding: 42px 0;


                .planet-image {
                    width: 100%;
                    margin: 0px;

                    img {
                        width: 150px;
                    }
                }
                .planet-information {
                    height: 466px;
                    width: 100%;
                    align-items: center;
                    margin-top: 32px;
                    padding: 0;
                    text-align: center;

                    hr {
                        width: 100%;
                    }

                    .planet-statistics {
                        flex-direction: column;
                        align-items: center;
                        gap: 24px;
                        width: 100%;

                    }
                }
            }
        }
    }

    .crew {
        .wrapper {
            padding: 24px;
            text-align: center;

            .crew-container-all {
                justify-content:flex-start;
                gap: 32px;

                .crew-container-left {
                    width: 100%;
                    margin: 64px 0 0 0;

                    .crew-description {
                        height: 245px;
                    }

                    .crew-nav {
                        margin: 0;
                        display: flex;
                        align-items: end;
                    }
                }
                .crew-image {
                    width: 100%;
                    height: 340px;

                    img {
                        object-fit: contain;
                        mask-image: linear-gradient(to bottom, black 80%, transparent);
                    }
                }
            }
        }
    }

    .technology {
        height: auto;
        padding: 24px 24px 40px 24px;
        .wrapper {
            
            text-align: center;
            .technology-container {
                height: auto;
                justify-content: flex-start;
                .technology-container-left {


                    .technology-nav {

                        ul {
                            gap: 16px;
                        }

                        li {

                            .nav-element,
                            .nav-element-active {
                                width: 40px;
                                height: 40px;
                            }

                        }
                        
                    }
                    .technology-description {
                        width: 100%;
                    }
                }
                .technology-image {
                    height: auto;
                    margin: 0 -24px;

                    img {
                        height: 258px;
                    }
                }
            }
        }
    }
}
