* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  min-width: 100vw;
}

.text {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  letter-spacing: 0px;
  font-weight: 100;
  font-style: normal;
  color: white;
  line-height: 180%;
}

.heading-xl {
  font-family: "Bellefair", serif;
  font-size: 144px;
  text-transform: uppercase;
  letter-spacing: 0px;
}

.heading-l {
  font-family: "Bellefair", serif;
  font-size: 96px;
  text-transform: uppercase;
  letter-spacing: 0px;
}

.heading-xs {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 100;
}

.subheading-l {
  font-family: "Bellefair", serif;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 0px;
}

.heading-m {
  font-family: "Bellefair", serif;
  font-size: 56px;
  text-transform: uppercase;
  letter-spacing: 0px;
}

.heading-s {
  font-family: "Bellefair", serif;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 0px;
}

.subheading-s {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  color: #D0D6F9;
}

.nav-text {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  line-height: normal;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

main {
  z-index: 5;
}

#home {
  background-image: url("../assets/home/background-home-desktop.jpg");
}

#destination {
  background-image: url("../assets/destination/background-destination-desktop.jpg");
}

#crew {
  background-image: url("../assets/crew/background-crew-desktop.jpg");
}

#technology {
  background-image: url("../assets/technology/background-technology-desktop.jpg");
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

header {
  width: 100%;
  height: 136px;
  display: flex;
  align-items: flex-end;
  z-index: 1;
}
header .header-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-wrapper .mobile-nav-container {
  display: none;
}
header .header-line {
  flex-grow: 1;
  height: 1px;
  margin-right: -32px;
  background-color: #979797;
  opacity: 25%;
  z-index: 1;
}
header img {
  padding: 0 64px;
  z-index: 1;
}
header nav {
  width: 736px;
  height: 96px;
  -webkit-backdrop-filter: blur(80px);
          backdrop-filter: blur(80px);
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2.7px;
}
header nav ul {
  display: flex;
  justify-content: flex-end;
  padding-right: 64px;
  gap: 48px;
  height: 100%;
}
header nav ul a {
  display: contents;
}
header nav ul li {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
  border-bottom: 3px solid transparent;
  color: white;
  text-decoration: none;
  box-sizing: border-box;
  transition: all 1s;
}
header nav ul li b {
  padding-right: 12px;
}
header nav ul li:hover {
  border-bottom: 3px solid white;
}
header nav ul .active {
  border-bottom: 3px solid white;
}

.home {
  display: flex;
  width: 100%;
  height: calc(100vh - 136px);
  justify-content: center;
  align-items: center;
  color: white;
  animation: fadeIn 0.3s linear;
}
.home .hero {
  width: 1110px;
  height: 632px;
  display: flex;
  align-items: end;
}
.home .hero a {
  display: contents;
}
.home .hero .hero-wrapper {
  height: 343px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home .hero .hero-wrapper .text-wrapper {
  width: 540px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home .hero .hero-wrapper .call-to-action {
  width: 272px;
  height: 272px;
  background-color: white;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(11, 13, 23);
}
.home .hero .hero-wrapper .call-to-action:hover {
  box-shadow: 0 0 0px 88px rgba(255, 255, 255, 0.1);
  color: rgba(11, 13, 23, 0.5);
}

.destination {
  display: flex;
  width: 100%;
  height: calc(100vh - 136px);
  justify-content: center;
  align-items: center;
  color: white;
  padding: 48px 0;
  animation: fadeIn 0.3s linear;
}
.destination .wrapper {
  width: 1110px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 48px 0;
}
.destination .wrapper b {
  font-weight: 600;
  opacity: 0.25;
}
.destination .wrapper .planet-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 133px;
}
.destination .wrapper .planet-container .planet-image {
  width: 539px;
  display: flex;
  justify-content: center;
  margin-right: 32px;
}
.destination .wrapper .planet-container .planet-image img {
  width: 480px;
}
.destination .wrapper .planet-container .planet-information {
  width: 539px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 50px;
}
.destination .wrapper .planet-container .planet-information ul {
  display: flex;
  gap: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
}
.destination .wrapper .planet-container .planet-information li {
  list-style: none;
  display: flex;
  align-items: start;
  border-bottom: 3px solid transparent;
  transition: all 1s;
}
.destination .wrapper .planet-container .planet-information li:hover {
  border-bottom: 3px solid white;
  cursor: pointer;
}
.destination .wrapper .planet-container .planet-information .active {
  border-bottom: 3px solid white;
}
.destination .wrapper .planet-container .planet-information hr {
  opacity: 0.25;
}
.destination .wrapper .planet-container .planet-information .planet-statistics {
  display: flex;
}
.destination .wrapper .planet-container .planet-information .planet-statistics div {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 12px;
}

.crew {
  display: flex;
  width: 100%;
  height: calc(100vh - 136px);
  justify-content: center;
  align-items: center;
  color: white;
  padding: 48px 0;
  animation: fadeIn 0.3s linear;
}
.crew .wrapper {
  width: 1110px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 48px 0;
}
.crew .wrapper b {
  font-weight: 600;
  opacity: 0.25;
}
.crew .wrapper .crew-container-all {
  height: 734px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.crew .wrapper .crew-container-all .crew-container-left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 48px;
}
.crew .wrapper .crew-container-all .crew-container-left .crew-description {
  width: 539px;
  height: 237px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 197px 0;
}
.crew .wrapper .crew-container-all .crew-container-left .crew-nav {
  height: 63px;
  margin-top: 40px;
}
.crew .wrapper .crew-container-all .crew-container-left .crew-nav ul {
  display: flex;
  gap: 40px;
}
.crew .wrapper .crew-container-all .crew-container-left .crew-nav li {
  list-style: none;
  opacity: 0.17;
}
.crew .wrapper .crew-container-all .crew-container-left .crew-nav .pagination-icon {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 999px;
  background-color: white;
}
.crew .wrapper .crew-container-all .crew-container-left .crew-nav #active {
  opacity: 1;
}
.crew .wrapper .crew-container-all .crew-image {
  width: 539px;
  height: 734px;
}
.crew .wrapper .crew-container-all .crew-image img {
  -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent);
          mask-image: linear-gradient(to bottom, black 80%, transparent);
}

.technology {
  display: flex;
  width: 100%;
  height: calc(100vh - 136px);
  justify-content: center;
  align-items: center;
  color: white;
  padding: 48px 0;
  animation: fadeIn 0.3s linear;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.technology .wrapper {
  width: 1275px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 165px;
}
.technology .wrapper b {
  font-weight: 600;
  opacity: 0.25;
}
.technology .wrapper .technology-container {
  display: flex;
  align-items: center;
  height: 734px;
  gap: 32px;
}
.technology .wrapper .technology-container .technology-container-left {
  display: flex;
  height: 304px;
  gap: 64px;
}
.technology .wrapper .technology-container .technology-container-left .technology-nav {
  display: flex;
  align-items: center;
  width: 80px;
}
.technology .wrapper .technology-container .technology-container-left .technology-nav ul {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.technology .wrapper .technology-container .technology-container-left .technology-nav li {
  list-style: none;
}
.technology .wrapper .technology-container .technology-container-left .technology-nav li .nav-element {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(11, 13, 23);
  width: 80px;
  height: 80px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: white;
  border-radius: 999px;
  transition: all 0.5s;
}
.technology .wrapper .technology-container .technology-container-left .technology-nav li .nav-element:hover {
  border: 1px solid rgb(255, 255, 255);
}
.technology .wrapper .technology-container .technology-container-left .technology-nav li .nav-element-active {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(11, 13, 23);
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 999px;
  transition: all 0.5s;
}
.technology .wrapper .technology-container .technology-container-left .technology-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 491px;
}
.technology .wrapper .technology-container .technology-image {
  display: flex;
  align-items: center;
  width: 608px;
  height: 734px;
}
.technology .wrapper .technology-container .technology-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 768px) {
  .heading-l {
    font-size: 80px;
  }
  .heading-m {
    font-size: 40px;
  }
  .heading-s {
    font-size: 24px;
  }
  .heading-xs {
    font-size: 20px;
  }
  .text {
    font-size: 16px;
  }
  #home {
    background-image: url("../assets/home/background-home-tablet.jpg");
  }
  #destination {
    background-image: url("../assets/destination/background-destination-tablet.jpg");
  }
  #crew {
    background-image: url("../assets/crew/background-crew-tablet.jpg");
  }
  #technology {
    background-image: url("../assets/technology/background-technology-tablet.jpg");
  }
  header {
    height: 96px;
  }
  header img {
    flex-grow: 1;
    padding: 0 40px;
    margin: auto;
  }
  header .header-line {
    display: none;
  }
  header nav {
    width: 640px;
    background-color: rgba(255, 255, 255, 0.05);
  }
  header nav ul {
    padding-right: 40px;
  }
  .home {
    margin-top: 128px;
  }
  .home .hero {
    height: 100%;
  }
  .home .hero .hero-wrapper {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .home .hero .hero-wrapper .text-wrapper {
    align-items: center;
    width: 512px;
    height: 334px;
    text-align: center;
  }
  .home .hero .hero-wrapper a {
    display: contents;
  }
  .home .hero .hero-wrapper .call-to-action {
    height: 272px;
  }
  .destination {
    padding: 40px 0;
  }
  .destination .wrapper {
    margin: 40px;
  }
  .destination .wrapper .planet-container {
    flex-direction: column;
    margin-top: 24px;
    padding: 42px 0;
  }
  .destination .wrapper .planet-container .planet-image {
    margin: 0px;
  }
  .destination .wrapper .planet-container .planet-image img {
    width: 300px;
  }
  .destination .wrapper .planet-container .planet-information {
    height: 361px;
    align-items: center;
    margin-top: 32px;
    padding: 0;
    text-align: center;
  }
  .destination .wrapper .planet-container .planet-information hr {
    width: 100%;
  }
  .destination .wrapper .planet-container .planet-information .planet-statistics {
    width: 100%;
  }
  .crew {
    padding: 0;
    margin: 0;
    width: 100%;
    height: calc(100vh - 96px);
  }
  .crew .wrapper {
    width: 100%;
    padding: 40px 40px 0 40px;
    margin: 0;
  }
  .crew .wrapper .crew-container-all {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  .crew .wrapper .crew-container-all .crew-container-left {
    width: calc(100% - 176px);
    height: 305px;
    margin: 64px 88px 0 88px;
    align-items: center;
  }
  .crew .wrapper .crew-container-all .crew-container-left .crew-description {
    width: 100%;
    margin: 0;
  }
  .crew .wrapper .crew-container-all .crew-container-left .crew-nav ul {
    justify-content: center;
    gap: 12px;
  }
  .crew .wrapper .crew-container-all .crew-container-left .crew-nav .pagination-icon {
    width: 10px;
    height: 10px;
  }
  .crew .wrapper .crew-container-all .crew-image {
    height: 100%;
    width: 400px;
  }
  .crew .wrapper .crew-container-all .crew-image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-mask-image: none;
            mask-image: none;
  }
  .technology {
    height: 100%;
    padding: 40px;
  }
  .technology .wrapper {
    width: 100%;
    margin: 0;
  }
  .technology .wrapper .technology-container {
    flex-direction: column-reverse;
    margin-top: 88px;
    height: auto;
  }
  .technology .wrapper .technology-container .technology-container-left {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: auto;
    gap: 40px;
  }
  .technology .wrapper .technology-container .technology-container-left .technology-nav {
    width: 100%;
    justify-content: center;
  }
  .technology .wrapper .technology-container .technology-container-left .technology-nav ul {
    flex-direction: row;
  }
  .technology .wrapper .technology-container .technology-container-left .technology-nav li .nav-element,
  .technology .wrapper .technology-container .technology-container-left .technology-nav li .nav-element-active {
    width: 56px;
    height: 56px;
  }
  .technology .wrapper .technology-container .technology-container-left .technology-description {
    height: 251px;
  }
  .technology .wrapper .technology-container .technology-image {
    width: auto;
    height: 100%;
    margin: 0 -40px;
  }
  .technology .wrapper .technology-container .technology-image img {
    height: 356px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 375px) {
  .heading-xl {
    font-size: 80px;
  }
  .heading-l {
    font-size: 56px;
  }
  .heading-m {
    font-size: 24px;
  }
  .heading-xs {
    font-size: 16px;
  }
  .heading-s {
    font-size: 18px;
  }
  .text {
    font-size: 15px;
  }
  #home {
    background-image: url("../assets/home/background-home-mobile.jpg");
  }
  #destination {
    background-image: url("../assets/destination/background-destination-mobile.jpg");
  }
  #crew {
    background-image: url("../assets/crew/background-crew-mobile.jpg");
  }
  #technology {
    background-image: url("../assets/technology/background-technology-mobile.jpg");
  }
  header {
    height: 88px;
    align-items: center;
  }
  header .header-wrapper {
    justify-content: space-between;
    padding: 0 24px;
  }
  header .header-wrapper .mobile-nav-container {
    display: block;
  }
  header .header-wrapper img {
    flex-grow: 1;
    margin: auto;
    padding: 0;
  }
  header .header-wrapper nav {
    display: none;
  }
  header .header-wrapper .mobile-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 254px;
    height: 100%;
    padding-left: 32px;
    -webkit-backdrop-filter: blur(80px);
            backdrop-filter: blur(80px);
    font-family: "Barlow Condensed", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2.7px;
    z-index: 10;
  }
  header .header-wrapper .mobile-nav .mobile-nav-close {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
  }
  header .header-wrapper .mobile-nav .mobile-nav-close img {
    max-width: 24px;
    display: flex;
    margin-right: 24px;
  }
  header .header-wrapper .mobile-nav ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 222px;
  }
  header .header-wrapper .mobile-nav ul a {
    display: contents;
  }
  header .header-wrapper .mobile-nav ul li {
    display: flex;
    list-style: none;
    border-right: 3px solid transparent;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    transition: all 1s;
  }
  header .header-wrapper .mobile-nav ul li b {
    padding-right: 12px;
  }
  header .header-wrapper .mobile-nav ul li:hover {
    border-right: 3px solid white;
  }
  header .header-wrapper .mobile-nav ul .active {
    border-right: 3px solid white;
  }
  header .header-wrapper #open {
    margin-right: 0;
    transition: all 0.7s;
  }
  header .header-wrapper #closed {
    margin-right: -254px;
    transition: all 0.7s;
  }
  .home {
    width: calc(100% - 48px);
    margin: 24px;
  }
  .home .hero {
    width: 327px;
  }
  .home .hero .hero-wrapper {
    width: 100%;
  }
  .home .hero .hero-wrapper .text-wrapper {
    width: 100%;
    height: 294px;
  }
  .home .hero .hero-wrapper a {
    display: contents;
  }
  .home .hero .hero-wrapper .call-to-action {
    width: 144px;
    height: 144px;
    margin-bottom: calc(50% - 72px);
  }
  .destination {
    padding: 24px 0;
    text-align: center;
  }
  .destination .wrapper {
    width: 100%;
    margin: 24px;
  }
  .destination .wrapper .planet-container {
    flex-direction: column;
    margin-top: 24px;
    padding: 42px 0;
  }
  .destination .wrapper .planet-container .planet-image {
    width: 100%;
    margin: 0px;
  }
  .destination .wrapper .planet-container .planet-image img {
    width: 150px;
  }
  .destination .wrapper .planet-container .planet-information {
    height: 466px;
    width: 100%;
    align-items: center;
    margin-top: 32px;
    padding: 0;
    text-align: center;
  }
  .destination .wrapper .planet-container .planet-information hr {
    width: 100%;
  }
  .destination .wrapper .planet-container .planet-information .planet-statistics {
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
  }
  .crew .wrapper {
    padding: 24px;
    text-align: center;
  }
  .crew .wrapper .crew-container-all {
    justify-content: flex-start;
    gap: 32px;
  }
  .crew .wrapper .crew-container-all .crew-container-left {
    width: 100%;
    margin: 64px 0 0 0;
  }
  .crew .wrapper .crew-container-all .crew-container-left .crew-description {
    height: 245px;
  }
  .crew .wrapper .crew-container-all .crew-container-left .crew-nav {
    margin: 0;
    display: flex;
    align-items: end;
  }
  .crew .wrapper .crew-container-all .crew-image {
    width: 100%;
    height: 340px;
  }
  .crew .wrapper .crew-container-all .crew-image img {
    -o-object-fit: contain;
       object-fit: contain;
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent);
            mask-image: linear-gradient(to bottom, black 80%, transparent);
  }
  .technology {
    height: auto;
    padding: 24px 24px 40px 24px;
  }
  .technology .wrapper {
    text-align: center;
  }
  .technology .wrapper .technology-container {
    height: auto;
    justify-content: flex-start;
  }
  .technology .wrapper .technology-container .technology-container-left .technology-nav ul {
    gap: 16px;
  }
  .technology .wrapper .technology-container .technology-container-left .technology-nav li .nav-element,
  .technology .wrapper .technology-container .technology-container-left .technology-nav li .nav-element-active {
    width: 40px;
    height: 40px;
  }
  .technology .wrapper .technology-container .technology-container-left .technology-description {
    width: 100%;
  }
  .technology .wrapper .technology-container .technology-image {
    height: auto;
    margin: 0 -24px;
  }
  .technology .wrapper .technology-container .technology-image img {
    height: 258px;
  }
}/*# sourceMappingURL=main.css.map */